export KAFKA_BOOTSTRAP_SERVERS=localhost:9092
export KAFKA_GROUP_ID=local-kafka-data-connector-distributed-connect
export KAFKA_OFFSET_STORAGE_TOPIC=_dc-dev-test-kafka-data-connector-offset
export KAFKA_OFFSET_STORAGE_REPLICATION=1
export KAFKA_CONFIG_STORAGE_TOPIC=_dc-dev-test-kafka-data-connector-config
export KAFKA_CONFIG_STORAGE_REPLICATION=1
export KAFKA_STATUS_STORAGE_TOPIC=_dc-dev-test-kafka-data-connector-stat
export KAFKA_STATUS_STORAGE_REPLICATION=1
export KAFKA_SECURITY_PROTOCOL=
export KAFKA_KEYSTORE_PASSWORD=
export KAFKA_TRUST_STORE_LOCATION=
export KAFKA_KEY_STORE_LOCATION=
export SCHEMA_REGISTRY_URL=http://localhost:8080/apis/ccompat/v6
export KAFKA_CONNECTOR_URL=http://localhost:8083

export DATABASE_HOST=localhost
export DATABASE_PORT=5432
export DATABASE_USERNAME=postgres
export DATABASE_PASSWORD=postgres
export DATABASE_DBNAME=postgres